<script>
    $(document).ready(function () {
        $('.materialbox').materialbox();

    });
</script>

<!-- Image Gallery -->

<div>
    <h1>Materialize Image Gallery</h1>

    <div class="row">

        <div class="col s12 m6 l4">
            <img src="https://picsum.photos/200/300/?random" class="materialbox responsive-img card">
        </div>
        <div class="col s12 m6 l4">
            <img src="https://picsum.photos/g/200/300/?random" class="materialbox responsive-img card">
        </div>
        <div class="col s12 m6 l4">
            <img src="https://picsum.photos/200/300/?random" class="materialbox responsive-img card">
        </div>
        <div class="col s12 m6 l4">
            <img src="https://picsum.photos/g/200/300/?random" class="materialbox responsive-img card">
        </div>

        <div class="col s12 m6 l4">
            <img src="https://picsum.photos/200/300/?random" class="materialbox responsive-img card">
        </div>
        <div class="col s12 m6 l4">
            <img src="https://picsum.photos/g/200/300/?random" class="materialbox responsive-img card">
        </div>

    </div>

</div>

{{!-- bad ass site https://picsum.photos/ --}}