<div>
    {{!-- nav bar --}}
    <nav class="grey darken-1 nav">
        <div class="nav-wrapper container">
            <img class="logo" src="/images/Focus4.png" alt="logo">

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a>Logged in as:</a>
                </li>
                <li>
                    <a>Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    {{!-- search bar --}}
    <nav class="grey darken-3">
        <div class="nav-wrapper">
            <form>
                <div class="input-field" id="search-div">
                    <input id="search" type="search" name="hashtag" required>
                    <label class="label-icon" for="search">
                        <i class="material-icons">search</i>
                    </label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>

    {{!-- tabs --}}
    <div class="container main">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <div class="indicator yellow" style="z-index:1"></div>
                    <li class="tab col s4"><a class="active black-text" href="#test1">Gallery</a></li>
                    <li class="tab col s4"><a class="black-text" href="#test2">Map</a></li>
                    <li class="tab col s4"><a class="black-text" href="#test3">Log In</a></li>
                    {{!-- <li class="tab col s3"><a href="#test4">Tab 4</a></li> --}}
                </ul>
            </div>
            <div id="test1" class="col s12"> {{#> gallery}} {{/ gallery}} </div>
            <div id="test2" class="col s12"> {{#> maps}} {{/ maps}} </div>
            <div id="test3" class="col s12"> {{#> login}} {{/ login}} </div>
        </div>
    </div>

    {{!-- footer --}}
    <footer class="page-footer grey darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    {{!-- <p class="grey-text text-lighten-4">You can use rows and columns here to organize your
                        footer
                        content.</p> --}}
                </div>
                {{!-- <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>

                </div> --}}
            </div>
        </div>
        {{!-- below div adds extened footer --}}
        <div class="footer-copyright"></div>
    </footer>
</div>

<script>
     $(document).ready(function () {
        $('.materialbox').materialbox();

    });
    // .tabs must be seperate. dont combine
    $(document).ready(function () {
        $('.tabs').tabs();
    });

    // when user keys on enter after input info into the submit button
   $(document).ready(function() {
       $(document).on('keypress', function(event) {
           if (event.keyCode === 13) {
               console.log("youre in the sauce");
           }
           var flickerAPI = "https://api.flickr.com/services/feeds/photos_public.gne?format=json&tags=" + $("#search").val();
                $.ajax({
                url: flickerAPI,
                dataType: "jsonp", // jsonp
                jsonpCallback: 'jsonFlickrFeed', // add this property
                success: function (result, status, xhr) {
                $.each(result.items, function (i, item) {
                $("<img>").attr("src", item.media.m).appendTo("#testDiv");
                if (i === 5) {
                return false;
                }
                });
                },
                error: function (xhr, status, error) {
                console.log(xhr)
                $("#testDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    });
});
   
         
   

    

    

</script>


//{{!-- not pulling logo and css from main --}}