/* body and main below are for sticky footer */
/* gold from logo = #C5A343 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.gold {
    background-color: #C5A343;
}

.container.main {
    flex: 1 0 auto;
}

.map {
    width: 100%;
    height: auto;
}

.logo {
    height: 100%;
}

/* .tabs .tab a.active {
    color: blue;
}

.tabs .tab a:hover {
    color: blue;
}

.tabs .tab a {
    color: blue;
} */